<div class="row">
  
  <h3>Settings</h3>

  <hr>



  <div class="eight columns">
    <h4>Search</h4>
    <hr>
    <form ng-submit="search(q)">
        <div class="row collapse">
          <div class="ten mobile-three columns">
            <input type="text"
                    ng-model="q">
          </div>
          <div class="two mobile-one columns">
            <button type="submit" class="button expand postfix">Search</button>
          </div>
        </div>
    </form>
    <ul>
        <li ng-repeat="result in results">
            {{result.city}}, {{result.country}} 
            <button class="small round button" ng-click="add(result)">add to list</button>
        </li>
    </ul>
  </div>



  <div class="four columns">


    <h4>Current location</h4>
    <hr>
    {{geo.city}}, {{geo.country}}


    <h4>Saved locations</h4>
    <hr>
    <p ng-hide="locations">There are no saved locations</p>
    <ul ng-show="locations">
        <li ng-repeat="location in locations">
            {{location.city}}, {{location.country}} 
            <button class="small round alert button" ng-click="remove(location.woeid)">x</button>
        </li>
    </ul>

  </div>

</div>